.widget-boxed-header {
  border-top: 1px solid #eef0f5;
  width: 100%;
  padding: 0;
  position: relative;
  padding: 5px 15px;
  display: block;
}

.widget-boxed-header h4 a {
  padding: 5px 15px;
}

.widget-boxed-header h4 a i {
  padding-right: 10px;
}

.navigation-list li {
  padding-left: 40px !important; 
}
