@charset "UTF-8";


/* custom css selector */

.row .btn-block {
	width: 100px;
	position: relative;
	left: 10px;
    margin-bottom: 10px;
}

.profile-suppliername {
    font-size: 21px;
    margin-top: 1px;
}

.card-header .back-ground{
    font-size: 0;
}

.card-header .back-ground img{
    max-width: 100%;
}

/* 待確認要怎麼出現卷軸 */
/* 是否需要將side bar 固定住 */
.content .container-fluid{
    height: calc(100% -(10rem + 1px));
    overflow-y: auto;
}