@charset "UTF-8";


/* custom css selector */

.row .btn-block {
	width: 100px;
	position: relative;
	left: 10px;
    margin-bottom: 10px;
}

.profile-suppliername {
    font-size: 21px;
    margin-top: 1px;
}